node_modules/
package-lock.json
.DS_Store

# Evitar subir configuraciones sensibles y archivos de despliegue pesado
.aws/
.ask/cli_config
.ask/cli_config.json
.ask/lambda/build.zip
awscliv2.zip
*.pem
